table {
    border-collapse: collapse;
    width: 
    100%;
}

td {
    background-color: aquamarine;
}

th, td {

    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #1d6586;
}

.save-button {
    background-color: green;
    color: white;
}